.fondsecondary {
  -fx-background-color: #bdc3bd75;
  -fx-text-fill: white;
  -fx-font-weight: 700;
  -fx-padding: 10 10 10 10;
}
.btnNouveau{
  -fx-background-color:#063814;
  -fx-text-fill: white;
  -fx-cursor:hand;

}
.btnNouveau:hover{
  -fx-background-color: #098d1c;
  -fx-text-fill: rgb(248, 251, 249);
}
.titre{
  -fx-text-fill: rgb(4, 46, 4);
  -fx-font-weight: bold;
  -fx-font-size :36px;
  -fx-font-family: 'Cambria';
}

.soustitre{
  -fx-text-fill: rgb(4, 46, 4);
  -fx-font-size :12px;
  -fx-font-family: 'Cambria';
}

.box{
  -fx-background-color: #04340b00;
  -fx-text-fill: rgb(4, 46, 4);
  -fx-border-color:#2b2b2b48;
  -fx-border-radius:15;
}


.btnVoirGerer{
  -fx-background-color: #03420c;
  -fx-border-radius: 10;
  -fx-pref-height: 30px;
  -fx-text-fill: rgb(247, 250, 248);
  -fx-font-size: 12px;
  -fx-font-family: 'Cambria';
  -fx-font-weight: bold;
  -fx-padding: 2;
  -fx-cursor: hand;
}


.btnVoirGerer:hover{
  -fx-background-color: #098d1c;
  -fx-text-fill: rgb(248, 251, 249);
}

.barre{
  -fx-background-color: #03420c;

}

.venteRecente{
  -fx-font-weight: bold;
  -fx-font-size :16px;
  -fx-font-family: 'Cambria';
}

.btnClose{
  -fx-background-color: #ffffff;
  -fx-border-radius:10;
  -fx-height :8;
  -fx-text-fill: rgb(0, 0, 0);
  -fx-font-size :12px;
  -fx-font-family: 'Cambria';
  -fx-font-weight: bold;
  -fx-padding: 2;
  -fx-margin: 5;
  -fx-cursor : hand;
}

.btnClose:hover{
  -fx-background-color: #b50303;
  -fx-text-fill: #064710;
}

.texfield{
  -fx-background-color: #ffffff75;
  -fx-background-radius: 10;
  -fx-border-color: #05350948;
  -fx-border-width: 2;
  -fx-border-radius: 10;
  -fx-font-family: 'Cambria';
  -fx-font-size :16px;
  -fx-font-weight: 500;
  -fx-text-fill: rgb(4, 46, 4);
}
.table{
  -fx-background-color: #bdc3bd75;
  -fx-border-radius: 10;
  -fx-font-family: 'Cambria';
  -fx-font-size :14px;
  -fx-font-weight: 500;
  -fx-text-fill: #042e04;
}
.table-row-cell:odd {
  -fx-background-color: #5f7a5459;
}
.table-row-cell:even {
  -fx-background-color: #0b380b49;
}
.table-column-header {
  -fx-background-color: #062e0caf;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
.table-cell {
  -fx-padding: 8px;
}
.scroll{
  -fx-background-color: #bdc3bd75;
  -fx-border-radius: 10;
}
.label{
  -fx-font-family: 'Cambria';
  -fx-font-size :14px;
  -fx-font-weight: bold;
  -fx-text-fill: rgb(4, 46, 4);
}
.combo{
  -fx-background-color: transparent;
  -fx-background-radius: 10;
  -fx-border-color: #2b2b2b48;
  -fx-border-width: 2;
  -fx-border-radius: 10;
  -fx-font-family: 'Cambria';
  -fx-font-size :16px;
  -fx-font-weight: 500;
  -fx-text-fill: rgb(4, 46, 4);
}
.combo .list-cell {
  -fx-font-family: 'Cambria';
  -fx-font-size :14px;
  -fx-font-weight: 500;
  -fx-text-fill: rgb(4, 46, 4);
}
.combo .list-cell:hover {
  -fx-background-color: #098d1c;
  -fx-text-fill: rgb(248, 251, 249);
}
.combo .list-cell:filled:selected, .combo .list-cell:filled:selected:hover {
  -fx-background-color: #03420c;
  -fx-text-fill: rgb(248, 251, 249);
}
.date{
  -fx-background-color: transparent;
  -fx-background-radius: 10;
  -fx-border-color: #2b2b2b48;
  -fx-border-width: 2;
  -fx-border-radius: 10;
  -fx-font-family: 'Cambria';
  -fx-font-size :16px;
  -fx-font-weight: 500;
  -fx-text-fill: rgb(4, 46, 4);
}
.date .list-cell {
  -fx-font-family: 'Cambria';
  -fx-font-size :14px;
  -fx-font-weight: 500;
  -fx-text-fill: rgb(4, 46, 4);
}
.date .list-cell:hover {
  -fx-background-color: #098d1c;
  -fx-text-fill: rgb(248, 251, 249);
}
.date .list-cell:filled:selected, .date .list-cell:filled:selected:hover {
  -fx-background-color: #03420c;
  -fx-text-fill: rgb(248, 251, 249);
}
.buttonEnregistrer{
  -fx-background-color: #03420c;
  -fx-border-rarius:10;
  -fx-height :8;
  -fx-text-fill: rgb(247, 250, 248);
  -fx-font-size :12px;
  -fx-font-family: 'Cambria';
  -fx-font-weight: bold;
  -fx-padding: 2;
  -fx-margin: 5;
  -fx-cursor : hand;
}
.buttonEnregistrer:hover{
  -fx-background-color: #098d1c;
  -fx-text-fill: rgb(248, 251, 249);
}

.buttonAnnuler{
  -fx-background-color: #c42323;
  -fx-border-rarius:10;
  -fx-height :8;
  -fx-text-fill: rgb(247, 250, 248);
  -fx-font-size :12px;
  -fx-font-family: 'Cambria';
  -fx-font-weight: bold;
  -fx-padding: 2;
  -fx-margin: 5;
  -fx-cursor : hand;
}
.buttonAnnuler:hover{
  -fx-background-color: #e01616;
  -fx-text-fill: rgb(248, 251, 249);
}

.buttonImprimer{
  -fx-background-color: #1a27bd9f;
  -fx-border-rarius:10;
  -fx-height :8;
  -fx-text-fill: rgb(247, 250, 248);
  -fx-font-size :12px;
  -fx-font-family: 'Cambria';
  -fx-font-weight: bold;
  -fx-padding: 2;
  -fx-margin: 5;
  -fx-cursor : hand;
}
.buttonImprimer:hover{
  -fx-background-color: #081adf;
  -fx-text-fill: rgb(248, 251, 249);
}

.labelTitre{
  -fx-font-family: 'Cambria';
  -fx-font-size :36px;
  -fx-font-weight: bold;
  -fx-text-fill: rgb(12, 58, 12);
}
.anchor{
  -fx-background-color:rgba(3, 39, 23, 0.357);

}
.sidebar-item-label{
  -fx-text-fill:white;
  -fx-font-family:'Cambria';
  -fx-font-size :16px;
}
.sidebar-item {
  -fx-background-color:transparent;
  -fx-cursor : hand;
}

.sidebar-item .svg-path{
  -fx-stroke: rgb(255, 255, 255);
}

.sidebar-item:hover {
  -fx-background-color: green;
}

.sidebar-item:hover .svg-path{
  -fx-stroke: rgb(255, 255, 255);
}

.sidebar-logo {
  -fx-fill: white;
  -fx-stroke: green;
  -fx-scale-x: 8.5;
  -fx-scale-y: 8.5;
}

.icon-button {
  -fx-pref-width: 32px;       /* largeur */
  -fx-pref-height: 32px;      /* hauteur */
  -fx-background-radius: 10;  /* coins arrondis */
  -fx-border-radius: 10;      /* arrondis pour la bordure aussi */
}

.green {
  -fx-background-color: green;
}


.buttonVenteLibre{
  -fx-background-color: #098d1c;
  -fx-border-rarius:10;
  -fx-height :8;
  -fx-text-fill: rgb(247, 250, 248);
  -fx-font-size :12px;
  -fx-font-family: 'Cambria';
  -fx-font-weight: bold;
  -fx-padding: 2;
  -fx-margin: 5;
  -fx-cursor : hand;
}
.buttonVenteLibre:hover{
  -fx-background-color: #03420c;
  -fx-text-fill: rgb(248, 251, 249);
}